services:
  app:
    build: .
    # Use the CLI command if enabled, otherwise keep the container alive
    command: >
      {% if cli %}python -m {{ project_slug }}{% else %}python -c "import time; time.sleep(float('inf'))"{% endif %}
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8000:8000"
